<div class="data-bar__section temperature">
	<span class="data-bar__icon icon icon-thermometer"></span>
	<div class="data-bar__subsection fahrenheit">
		<span class="data-bar__value">{{temperature_f}}</span>
		<span class="data-bar__unit">°F</span>
	</div>
	<div class="data-bar__subsection celsius">
		<span class="data-bar__value">{{{temperature_c}}}</span>
		<span class="data-bar__unit">°C</span>
	</div>
	<h6 class="data-bar__label">Temperature</h6>
</div>

<div class="data-bar__section windspeed">
	<span class="data-bar__icon icon icon-windspeed"></span>
	<span class="data-bar__value">{{windspeed}}</span>
	<span class="data-bar__unit">MPH</span>
	<h6 class="data-bar__label">Windspeed</h6>
</div>

<div class="data-bar__section pressure">
	<span class="data-bar__icon icon icon-pressure"></span>
	<span class="data-bar__value">{{pressure}}</span>
	<span class="data-bar__unit">kPa</span>
	<h6 class="data-bar__label">Pressure</h6>
</div>

<div class="data-bar__section rainfall">
	<span class="data-bar__icon icon icon-rain"></span>
	<span class="data-bar__value">{{rainfall}}"</span>
	<h6 class="data-bar__label">Rainfall</h6>
</div>

<div class="data-bar__section location">
	<span class="data-bar__icon icon icon-location"></span>
	<h6 class="data-bar__label">
		<span class="area">A Secret Place</span>
		<span class="city">// New York City</span>
		<span class="time">{{time}}</span>
	</h6>
</div>