<div class="data-section temperature">
    <span class="icon icon-thermometer"></span>
    <div class="temp-container">
        <div class="fahrenheit">
            <h5>
                <span class="data-bar-value">{{temperature_f}}</span>°F
            </h5>
        </div>
        <div class="celsius">
            <h5>
                <span class="data-bar-value">{{{temperature_c}}}</span>°C
            </h5>
        </div>
    </div>
    <h6 class="data-bar-label">Temperature</h6>
</div>

<div class="data-section windspeed">
    <span class="icon icon-windspeed"></span>
    <h5>
        <span class="data-bar-value">{{windspeed}}</span>MPH
    </h5>
    <h6 class="data-bar-label">Windspeed</h6>
</div>

<div class="data-section pressure">
    <span class="icon icon-pressure"></span>
    <h5>
        <span class="data-bar-value">{{pressure}}</span>kPa
    </h5>
    <h6 class="data-bar-label">Pressure</h6>
</div>

<div class="data-section rainfall">
    <span class="icon icon-rain"></span>
    <h5>
        <span class="data-bar-value">{{rainfall}}"</span>
    </h5>
    <h6 class="data-bar-label">Rainfall</h6>
</div>

<div class="data-section location">
    <span class="icon icon-location"></span>
    <h6 class="data-bar-label">
        <span class="area">Winter Hibernation</span>
        <span class="borough">// A Secret Place</span>
        <span class="city">New York City</span>
        <span class="time">{{time}}</span>
    </h6>
</div>
