<div class="plant-archive__entry-info">
    <div class="">
        <h5 class="plant-archive__entry-heading">
            Plant
        </h5>
        <h1 class="plant-archive__entry-title">
            {{name}}
        </h1>
        <h5 class="plant-archive__entry-heading">
            Medicinal Use
        </h5>
        <div class="plant-archive__entry-text">
            <p>{{{medicinal_use}}}</p>
        </div>
    </div>
    <div class="">
        <h5 class="plant-archive__entry-heading">
            Symbol
        </h5>
        <div class="plant-archive__entry-symbol">
            {{{symbol}}}
        </div>
    </div>
    <div class="">
        <h5 class="plant-archive__entry-heading">
            Political Pairing
        </h5>
        <p class="plant-archive__entry-text">
            {{political_pairing}}
        </p>
        <h5 class="plant-archive__entry-heading">
            Source
        </h5>
        <p class="plant-archive__entry-link">
            {{{source}}}
        </p>
    </div>
</div>
<div class="plant-archive__entry-poem">
    <div class="2">
        <h5 class="plant-archive__entry-heading">
            Poetic Text
        </h5>
    </div>
    <div class="2">
        <span class="plant-archive__entry-quote-marks">
            ″
        </span>
        <p class="plant-archive__entry-quote">
            {{poetic_text}}
        </p>
        <span class="plant-archive__entry-quote-marks">
            ″
        </span>
    </div>
</div>
